body{
  font-family: 'Source Code Pro', monospace;
}

.header {
  display: flex; 
  justify-content: space-between;
  height: 75px;
  width: 100%;
  background-color: rgba( 255, 255, 255, 100%);
  text-decoration: none;
  position:fixed;
  z-index: 2;
}

.header h1 {
  margin: 20px;
  font-size: 40px;
  color: #6A7B88;
  text-decoration: none;
}

.header a {
  text-decoration: none;
}

.header-direita {
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
}

.lista {
  margin: 3.5px;
  text-decoration: none;
  color: #6A7B88;
}

.perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#background {
  width: 100%;
  height: 300px;
  z-index: 0;
}

#foto-nate {
  z-index: 1;
  position: absolute;
  padding-top: 275px;
}

.background {
  max-width: 100%;
  max-height: 25%;
}

.foto {
  width: 25%;
  
}

.main {
  font-size: 22px;
  text-align: center;
  padding: 2em;
}

.red-line {
  margin-top: 2em;
  font-weight: 800;
  font-size: 56px;
  color: #6A7B88;
  padding: 0.5em;
}

p {
  padding: 5px;
  line-height: 30px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.lista-skills {
  display: flex;
  justify-content: center;
  line-height: 50px;
  text-align: left;
  font-style: italic;
}

/* estilizando a pagina de redes sociais*/
.container-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #6A7B88 0.5em;
  border-radius: 2em;
  padding: 1em;
  margin: 1.5em;
  cursor: pointer;
}

.main-containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 8em;
  margin: 1em;
}

.nome-social {
  border-top: double #6A7B88;
  padding: 1em;
}

.nome-social a {
  text-decoration: none;
  color: #6A7B88;
}